<br>
<div class="card card-body" style="margin-bottom: 10px;">
  <div class="d-flex justify-content-center">
    <h5 class="">Subir Archivo</h5>
  </div>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Expandir para subir los datos
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col d-flex justify-content-center">
              <form [formGroup]="formload" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="file" class="btn btn-primary btn-sm"  id="archivo"  
                  name="archivo" (change)="onFileChange($event)" #fileInput >
                </div>
                <div class="form-group">
                  <button mat-button type="submit"  class="btn btn-success btn-sm">
                    Subir Archivo
                    <mat-icon>backup</mat-icon>
                  </button>
                </div>
              </form>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="col col-lg-6 col-md-6 col-sm-6  ">
              <!--
              <div class="input-formulario"> 
                <mat-form-field>
                  <input matInput #pickerInput [matDatepicker]="fecha" 
                  placeholder="Fecha de subida" [formControl]="dateBorrado" 
                  (dateChange)="getFechaBorrar(pickerInput.value)">
                  <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                  <mat-datepicker #fecha></mat-datepicker>
                </mat-form-field>
              </div>
              -->
              <div class="form-group">	
                <button mat-button type="button" 
                (click)="confirmarEliminar()" class="btn btn-danger btn-sm">
                <mat-icon>delete</mat-icon>
                Borrar datos</button>
              </div>
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button mat-button type="button" 
            (click)="enviarDatosATemporal()" class="btn btn-warning btn-sm">
            <mat-icon>delete</mat-icon>
            Procesar Datos</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</div>
