mat-list-option[aria-selected="true"] {
    background: #8A6BB2;
    color: white;
  }


.input-formulario {
  display: flexbox;
  flex-direction: column;
}

.input-formulario > * {
  width: 100%;
}

/*scroll vertical*/
.example-viewport {
  height: 250px;
}