
<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="DetalleTareasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalle de Actividades</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
              <!--tabla detalle actividades-->
              <div class="table-responsive" style="font-size: 10pt;">
                    <table class="table table-bordered table-condensed table-striped table-sm" 
                         style="font-family: calibri; font-size: 10pt;" 
                         *ngIf="view_table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <!--<th>ID Actividad</th>-->
                                <th>Fecha</th>
                                <!--<th>N9CONO</th>-->
                                <!--<th>N9COCU</th>-->
                                <!--<th>N9COSE</th>-->
                                <!--<th >N9CORU </th>-->
                                <!--<th>N9PLVE</th>-->
                                <!--<th>N9VACA</th>-->
                                <!--<th>N9MECO</th>-->
                                <!--<th>N9LECO</th>-->
                                <!--<th>N9COCL</th>-->
                                <th>N9NOMB</th>
                                <th>N9REFE</th>
                                <th>CUSECU</th>
                                <th>CUCOON</th>
                                <th>CUCOOE</th>
                                <th>ESTADO</th>
                                <!--<th>OBSERVAciÓN</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actividades of actividades_tecncio | async | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                                <td>{{i+1}}</td>
                                 <!--<td>{{actividades.id_act}}</td>-->
                                <td>{{actividades.fecha}}</td>
                                <!--<td>{{actividades.n9cono}}</td>-->
                                <!--<td>{{actividades.n9cocu}}</td>-->
                                <!--<td>{{actividades.n9cose}}</td>-->
                                <!--<td>{{actividades.n9coru}}</td>-->
                                <!--<td>{{actividades.n9plve}}</td>-->
                                <!--<td>{{actividades.n9vaca}}</td>-->
                                <!--<td>{{actividades.n9meco}}</td>-->
                                <!--<td>{{actividades.n9leco}}</td>-->
                               <!-- <td>{{actividades.n9cocl}}</td>-->
                                <td>{{actividades.n9nomb}}</td>
                                <td>{{actividades.n9refe}}</td>
                                <td>{{actividades.cusecu}}</td>
                                <td>{{actividades.cucoon}}</td>
                                <td>{{actividades.cucooe}}</td>
                                <td *ngIf="actividades.estado==0"><span class="text-danger">Pendiente</span> </td>
                                <td *ngIf="actividades.estado==1"><span class="text-success">Realizado</span> </td>
                                <!--<td>{{actividades.observacion}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <pagination-controls (pageChange)="p = $event" class="text-danger"></pagination-controls>    
                    </div>
              </div>
              <!--fin tabla detalles-->
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          
          </div>

          </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center">
    <h4 class="">Asignación de actividades</h4>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col">
            <form [formGroup]="countryForm">
                <div class="form-group">
                    <label>Actividad:</label>
                    <select class="form-control" id="actividad" name="actividad" (change)="getTypeActivities($event)">
                        <option value="empty">Seleccionar</option>
                        <option value="10">Notificación</option>
                        <option value="30">Corte</option>
                        <option value="40">Reconexión</option>
                    </select>
                </div>
            </form>
            </div>

            <div class="col">
                <div class="form-group" *ngIf="cantones_exists">
                    <label>Cantón:</label>
                    <select class="form-control" name="canton" (change)="getSectors($event)">
                        <option value="empty">Seleccionar</option>
                        <option *ngFor="let canton of cantones | async" value="{{canton.canton}}" >{{canton.canton}}</option>
                    </select>
                    <label># {{num_cantones}} Cantones Encontrados</label>    
                </div>
            </div>
            
            <div class="col">
                <div class="form-group" *ngIf="sectores_exists">
                    <label>Sectores:</label><br>
                    <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                    <br><label># {{num_sectores}} Sectores Encontrados</label>   
                </div>

                
            </div>

           
            
            <div class="col">
                <div class="form-group" *ngIf="cantidad_exists">
                    <label>Cantidad:</label>
                    <input class="form-control" type="number" name="cantidad_actividades" value="{{num_actividades}}" placeholder="0">   
                </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col loading" *ngIf="loading">
                <img src="assets/img/cargando.gif">
            </div>    
        </div>
        
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h5 class="">Técnicos sin asignar</h5>    
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-2 col-md-2" *ngFor="let tecnico of tecnicos | async">
                <div class="form-inline">
                    <input class="tec" value="" type="checkbox" id="{{tecnico.id_tecn}}" #inputRef >
                    <label for="cbox2"> {{ tecnico.nombres}}</label>      
                </div>
            </div> 
               
        </div>

    </div>

    <div class="row">    
        <div class="col d-flex justify-content-center form-group">
                <span class="text-danger"> Total de actividades por asignar:{{Ordenes}}</span>
        </div>
        <div class="col d-flex justify-content-center form-group">
          <button class="btn btn-warning" (click)="buildTask()" >Asignar actividades </button>  
        </div>
    </div>
    
</div>

    <!--<div class="row">
        <div class="col">
            <button  class="btn btn-primary" (click)="buildTask(10)">NOTIFICACIONES</button>
        </div>
        <div class="col">
            <button  class="btn btn-warning" (click)="buildTask(40)">RECONECCIONES</button>
        </div>
        <div class="col">
            <button  class="btn btn-danger" (click)="buildTask(30)">CORTES</button>
        </div>
    </div>
    -->
<br>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="">Técnicos asignados</h5> 
        </div>
        <br>
        <div class="row lert">
            <table class="table table-bordered table-condensed table-striped table-sm" 
                         style="font-family: calibri; font-size: 12pt;">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Técnico</th>
                        <th>Sector</th>
                        <th># Actividades</th>
                        <th>Tipo actividad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tecnico_tareas of actividades | async; let j=index" class="">
                        <td>{{j+1}}</td>
                        <td>{{tecnico_tareas.nombres}} {{tecnico_tareas.apellidos}}</td>
                        <td>{{tecnico_tareas.n9cose}}</td>
                        <td>{{tecnico_tareas.cantidad}}</td>
                        <td>{{tecnico_tareas.tipo}}</td>
                        <td>
                            <button type="button"  (click)="verDetalleActividades(tecnico_tareas.id_tecn)" class="btn btn-info" data-toggle="modal" data-target="#DetalleTareasModal">
                                Ver Detalle    
                              </button>
                              
                              <button class="btn btn-warning btn-xs" (click)="AsignarActividades(tecnico_tareas.id_tecn)">
                                  Volver Asignar
                              </button>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>


    
    
   
