<br>
<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="DetalleTareasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalle de Actividades</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
              <!--tabla detalle actividades-->
              <div class="table-responsive" style="font-size: 10pt;">
                    <table class="table table-bordered table-striped table-sm" 
                         style="font-family: calibri; font-size: 10pt;" 
                         *ngIf="view_table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <!--<th>ID Actividad</th>-->
                                <th>FECHA DE ASIGNACIÓN</th>
                                <!--<th>N9CONO</th>-->
                                <!--<th>N9COCU</th>-->
                                <!--<th>N9COSE</th>-->
                                <!--<th >N9CORU </th>-->
                                <!--<th>N9PLVE</th>-->
                                <!--<th>N9VACA</th>-->
                                <!--<th>N9MECO</th>-->
                                <!--<th>N9LECO</th>-->
                                <!--<th>N9COCL</th>-->
                                <th>N9CONO</th>
                                <th>N9MECO</th>
                                <th>N9NOMB</th>
                                <th>N9REFE</th>
                                <!--<th>CUSECU</th>
                                <th>CUCOON</th>
                                <th>CUCOOE</th>-->
                                <th>ESTADO</th>
                                <!--<th>OBSERVAciÓN</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actividades of actividades_tecncio | async | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                                <td>{{i+1}}</td>
                                 <!--<td>{{actividades.id_act}}</td>-->
                                <td>{{actividades.fecha}}</td>
                                <!--<td>{{actividades.n9cono}}</td>-->
                                <!--<td>{{actividades.n9cocu}}</td>-->
                                <!--<td>{{actividades.n9cose}}</td>-->
                                <!--<td>{{actividades.n9coru}}</td>-->
                                <!--<td>{{actividades.n9plve}}</td>-->
                                <!--<td>{{actividades.n9vaca}}</td>-->
                                <!--<td>{{actividades.n9meco}}</td>-->
                                <!--<td>{{actividades.n9leco}}</td>-->
                               <!-- <td>{{actividades.n9cocl}}</td>-->
                               <td>{{actividades.n9cono}}</td>
                               <td>{{actividades.n9meco}}</td>
                                <td>{{actividades.n9nomb}}</td>
                                <td>{{actividades.n9refe}}</td>
                                <!--<td>{{actividades.cusecu}}</td>
                                <td>{{actividades.cucoon}}</td>
                                <td>{{actividades.cucooe}}</td>-->
                                <td *ngIf="actividades.estado==0"><span class="text-danger">Pendiente</span> </td>
                                <td *ngIf="actividades.estado==1"><span class="text-success">Realizado</span> </td>
                                <!--<td>{{actividades.observacion}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <pagination-controls (pageChange)="p = $event" class="text-danger"></pagination-controls>    
                    </div>
              </div>
              <!--fin tabla detalles-->
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          
          </div>

          </div>
        </div>
    </div>
</div>


<br>
<div class="card card-body" style="margin-bottom: 10px;">
    <div class="d-flex justify-content-center">
        <h5 class="">Asignación de actividades</h5>
    </div>
    <mat-card-content>
        <!--
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a style="text-align: center;" class="nav-link" data-toggle="collapse" data-target="#collapse2" href="#" aria-expanded="true" aria-controls="collapse2">
                          Necesitas ayuda? Presiona AQUÍ
                    </a>
                </div>

                <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Para distribuir las actividades, realice los siguientes pasos:</p>
                    <p>1.- Seleccione una actividad <strong>"Notificación"</strong>, <strong>"Corte"</strong> o <strong>"Reconexión"</strong></p>
                    <p>2.- Seleccione un <strong>"Cantón"</strong> y el <strong>"Sector"</strong></p>
                    <p>3.- Ingrese una cantidad de actividades o deje el valor por defecto</p>
                    <p>4.- Seleccione uno o varios técnicos</p>
                    <p>5.- Finalmente presione el botón <strong>"Asignar actividades"</strong></p>
                  </div>
                </div>
            </div>
        </div>
        -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Expandir para asignar
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col col-3">
                    <form [formGroup]="countryForm">
                        <div class="input-formulario">
                            <mat-form-field>
                                <mat-select matNativeControl placeholder="Actitividad" 
                                name="actividad" id="actividad" formControlName="actividad" [(value)]="actividad" 
                                (selectionChange)="getTypeActivities(actividad)"> 
                                    <mat-option value="empty"></mat-option>
                                    <mat-option value="10">Notificación</mat-option>
                                    <mat-option value="30">Cortes</mat-option>
                                    <mat-option value="40">Reconexión</mat-option>
                                    <mat-option value="50">Retiro</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    </div>
                    <div class="col col-3">
                        <form [formGroup]="formCanton">
                            <div class="input-formulario form-group" *ngIf="cantones_exists">
                                <mat-form-field>
                                    <mat-select matNativeControl placeholder="Cantón" 
                                    name="canton" id="canton" formControlName="canton" [(value)]="canton" 
                                    (selectionChange)="getSectors(canton)">
                                        <mat-option value="empty"></mat-option>
                                        <mat-option *ngFor="let canton of cantones | async" 
                                        value="{{canton.canton}}" >{{canton.canton}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <label>Cantones #{{num_cantones}} </label>
                            </div>
                        </form>
                    </div>
                    <div class="col col-3">
                        <div class="input-formulario form-group" *ngIf="sectores_exists">
                            <mat-form-field>
                                <mat-label>Sectores</mat-label>
                                <mat-select [formControl]="formSectores" multiple>
                                    <mat-option *ngFor="let sector of myOptions" [value]="sector.name" 
                                    (click)="onChange()">{{sector.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <label>Sectores #{{num_sectores}} </label> 
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="input-formulario form-group" *ngIf="cantidad_exists">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Cantidad" 
                                name="cantidad_actividades" value="{{num_actividades}}" autocomplete="off">    
                            </mat-form-field> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col col-lg-12">
                        <div class="alert alert-info">
                                Actividades restantes: {{Ordenes}}
                        </div>
                    </div>
                    <div class="text-center col col-lg-12">
                        <button class="btn btn-success btn-sm" (click)="buildTask()" >Asignar actividades </button>  
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <!--
        <div class="row">    
            <div class="text-center col col-lg-12">
                <button class="btn btn-success" (click)="buildTask()" >Asignar actividades </button>  
            </div>
        </div>
        -->
    </mat-card-content>
</div>
<div class="card card-body" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h5 class="">Técnicos sin asignar</h5>    
        </div>
    </div>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                Los técnicos restantes son: {{ tecnicos.length }}
                Oprima para mostralos
                </mat-expansion-panel-header>
                <!--<div class="col-lg-6 col-md-6" *ngFor="let tecnico of tecnicos">
                        <div class="form-inline">
                            <label for="cbox2" style="margin-right: 5px;"> {{ tecnico.nombres}} {{ tecnico.apellidos}}</label>  
                            <input class="tec" value="" type="checkbox" id="{{tecnico.id_tecn}}" #inputRef >
                        </div>
                    </div>
                -->
                <div class="table-responsive">
                    <mat-selection-list class="col-lg-12 col-md-12 col-sm-12" #tecnico 
                    (selectionChange)="onSelection($event, tecnico.selectedOptions.selected)">
                        <div style="width: 600px;">
                            <mat-list-option *ngFor="let tecnico of tecnicos" [value]="tecnico.id_tecn">
                                    {{ tecnico.apellidos}} {{ tecnico.nombres}}
                            </mat-list-option>
                        </div>
                    </mat-selection-list>
                            
                </div>
                <!--
                    <p>Selected:</p>
                    <ul>
                    <li *ngFor="let i of tecnico.selectedOptions.selected">
                        {{ i.value }}
                    </li>
                    </ul>
                    <p>
                    Options selected: {{tecnico.selectedOptions.selected.length}}
                    </p>
                -->
            
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</div>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="">Técnicos asignados</h5> 
        </div>
        <br>
        <div class="d-flex justify-content-left">
            <p>Aquí puede observar información sobre los técnicos y sus actividades:</p> 
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows
             class="table table-sm">
                
                <!-- Id Column -->
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> N° </th>
                    <td mat-cell *matCellDef="let j=index"> {{j+1}} </td>
                </ng-container>
                <!-- Nombres Column -->
                <ng-container matColumnDef="tecnico">
                    <th mat-header-cell *matHeaderCellDef> Técnico </th>
                    <td mat-cell *matCellDef="let distribucion"> 
                        <div style="width: 200px;">
                            {{distribucion.tecnico}} 
                        </div>
                    </td>
                </ng-container>
                <!--datos expandir-->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let distribucion" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                            [@detailExpand]="distribucion == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped ">
                                    <tr>
                                        <th>Cantón</th>
                                        <th>Código</th>
                                        <th>Sector</th>
                                        <th>Cantidad</th>
                                        <th>Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    <tr *ngFor="let item of distribucion.data">
                                        <td>{{item.datos.n9coag}}</td>
                                        <td>{{item.datos.n9cono}}</td>
                                        <td>{{item.datos.n9cose}}</td>
                                        <td>{{item.datos.cantidad}}</td>
                                        <td>{{item.datos.tipo}}</td>
                                        <td>
                                            <div style="width: 250px;">
                                                <button type="button" style="margin-right: 5px;" 
                                                (click)="verDetalleActividades(item.datos.id_tecn, item.datos.tipo,item.datos.n9cose)" 
                                                class="btn btn-info btn-sm" data-toggle="modal" data-target="#DetalleTareasModal">
                                                    Detalle    
                                                    </button>
                                                <button class="btn btn-warning btn-sm" (click)="AsignarActividades(item.datos.id_tecn)" 
                                                style="margin-right: 5px;">
                                                        Asignar
                                                </button>
                                                <button class="btn btn-danger btn-sm" 
                                                (click)="eliminarAsignacion(item.datos.id_tecn, item.datos.n9cose, item.datos.cantidad, 
                                                item.datos.n9cono)">
                                                        Eliminar
                                                </button>  
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let distribucion; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === distribucion"
                (click)="expandedElement = expandedElement === distribucion ? null : distribucion">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>


    
    
   
