
 <div class="row">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Editar Técnico</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <!--formulario de edición-->
              <form [formGroup]="form_tecnico_edicion" (ngSubmit)="onSubmitEdit()">
              <div class="modal-body">
                    
                    <div class="form-group">
                        <label for="nombres">Nombre</label>
                        <input type="text" class="form-control"  id="nombres" placeholder="" value="" formControlName="nombres">
                        <input type="hidden" class="form-control"  id="id" placeholder="" value="" formControlName="id">
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellido</label>
                        <input type="text" class="form-control"    id="apellidos" placeholder="" formControlName="apellidos">
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cedula</label>
                        <input type="text" class="form-control"    id="cedula" placeholder="" formControlName="cedula">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control"   id="telefono" placeholder="" formControlName="telefono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control"    id="email" placeholder="" formControlName="email">
                        <input type="hidden" class="form-control"    id="estado" placeholder="" value="1" formControlName="estado">
                    </div>
                  
                
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="form_tecnico_edicion.invalid || loading" class="btn btn-primary">Actualizar Técnico <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
              </div>
            </form>
            <!--fin formulario-->
            </div>
          </div>
      </div>
</div>
<br>
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gestión de técnicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Gestionar técnico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reportes</a>
        </li>
    </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <br>
          <div class="card">
                
             <!--Form insert tecnico-->
          <div class="card">
              <div class="card-body">
                  <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Crear Nuevo Tenico
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                              <app-form-tecnico></app-form-tecnico>
                          </div>
                        </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-center">
                          <h5 class="">Técnicos</h5>
                      </div>
                      <table class="table table-bordered table-condensed table-striped table-sm"style="font-family: calibri; font-size: 12pt;">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Cédula</th>
                              <th scope="col">Telefono</th>
                              <th scope="col">Email</th>
                              <th scope="col">Estado</th>
                              <th scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let tecnico of tecnicos | async">
                              <td>{{tecnico.id_tecn}}</td>
                              <td>{{tecnico.nombres}}</td>
                              <td>{{tecnico.apellidos}}</td>
                              <td>{{tecnico.cedula}}</td>
                              <td>{{tecnico.telefono}}</td>
                              <td>{{tecnico.email}}</td>
                              <td>{{tecnico.estado}}</td>
                              <td>
                                  <button type="button" (click)="open(tecnico.id_tecn)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-right: 5px;">
                                    Editar    
                                  </button>
                                  <button type="button" class="btn btn-danger btn-xs" (click)="deleteTecnico(tecnico.id_tecn)">Eliminar</button>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
                  
              </div>
          </div>
  
          
          <!--end  forms tecnico-->z
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
</div>