<mat-card>
    <mat-tab-group mat-align-tabs="start">
      <!--seccion para subida de archivo txt al servidor -->
        <mat-tab label="Subir Archivo">
            
       
            <div class="d-flex justify-content-center">
                <h4 class="">Subir Archivo</h4>
            </div>
            
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <input type="file" class="btn btn-info form-control" style="height: 45px;" id="archivo"  
                      name="archivo" (change)="onFileChange($event)" #fileInput >
                    </div>
                    <div class="form-group">
                      <button type="submit"  class="btn btn-success">Subir Archivo </button>
                    </div>
                  </form>
              </div>
        </mat-tab>
        <!--tab de distribucion-->
        <mat-tab label="Distribuir rutas">
            <br>
            <div class="d-flex justify-content-center">
                <h4 class="">Distribuir rutas</h4>
            </div>
            <br>
            <div class="card">
              <div class="form-group" *ngFor="let filtro of filtrosLabel">
                <label>{{filtro.value}}:</label>
                <select class="form-control" id="actividad" name="actividad" (change)="getDataFilter($event,filtro.order)">
                    <option value="empty">Seleccionar</option>
                    <ng-template [ngIf]="filtro.order==1">
                      <option  value="{{value.agencia}}" *ngFor="let value of primerFiltro">{{value.agencia}}</option>
                    </ng-template>

                    <ng-template [ngIf]="filtro.order==2">
                      <option  value="{{value.sector}}" *ngFor="let value of segundoFiltro">{{value.sector}}</option>
                    </ng-template>

                    <ng-template [ngIf]="filtro.order==3">
                      <option  value="{{value.ruta}}" *ngFor="let value of tercerFiltro">{{value.ruta}}</option>
                    </ng-template>
                    
                </select>
            </div>
            <div class="form-group">
              <ng-template [ngIf]="dataCount">
                <input class="form-control" type="text" name ="cantidad_lecturas" value="{{cantidad_lecturas}}">
              </ng-template>
            </div>


            <div class="table-responsive">
                <mat-selection-list class="col-lg-12 col-md-12 col-sm-12" #tecnico 
                (selectionChange)="onSelection($event, tecnico.selectedOptions.selected)">
                    <div style="width: 600px;">
                        <mat-list-option *ngFor="let tecnico of tecnicosLecturas" [value]="tecnico.id_tecn">
                                {{ tecnico.apellidos}} {{ tecnico.nombres}}
                        </mat-list-option>
                    </div>
                </mat-selection-list>
                        
            </div>
            <div class="form-group">
            
                <button (click)="asignarRutaTecnico()" class="btn btn-success"> Asignar Ruta</button>
             
            </div>


            </div>

        </mat-tab>

        <!--tab de consultas-->
        <mat-tab label="Consultas">
          <br>
          <div class="d-flex justify-content-center">
              <h4 class="">Consultas sobre actividades</h4>
          </div>
          <br>
      
        </mat-tab>

        <!--tab de consolidados-->
        <mat-tab label="Consolidado">
   
              <div class="card-body">
                  <div class="d-flex justify-content-center">
                      <h4 class="">Generar consolidado</h4>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                     
                    </div>
                  </div>
              </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>