<div class="card card-body">
    <div class="row">
        <div class="col">
            <span class="text-success">Actividades del día sin asignar: {{total}}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="table-responsive" style="font-size: 12pt;" >
      
                <table class="table table-bordered table-condensed table-striped table-sm" style="font-family: calibri; font-size: 11pt;">
                    <thead class="thead-inverse">
                      <tr>
                        <th>N°</th>
                       <!--<th>ID</th>-->
                        <th>N9CONO</th>
                        <th>N9COCU</th>
                        <th>N9COSE</th>
                        <th>N9CORU</th>
                        <th>N9MECO</th>
                        <th>N9COCL</th>
                        <th>N9NOMB</th>
                        <th>N9REFE</th>
                        <th>REFERENCIA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let orden of ordenes | async | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                        <td>{{i+1}}</td>
                       <!--<td>{{orden.id_act}}</td>-->
                        <td>{{orden.n9cono}}</td>
                        <td>{{orden.n9cocu}}</td>
                        <td>{{orden.n9cose}}</td>
                        <td>{{orden.n9coru}}</td>
                        <td>{{orden.n9meco}}</td>
                        <td>{{orden.n9cocl}}</td>
                        <td>{{orden.n9nomb}}</td>
                        <td>{{orden.n9refe}}</td>
                        <td>{{orden.referencia}}</td>
                      </tr>
                    </tbody>
                </table>
                  <pagination-controls (pageChange)="p = $event" class="text-danger"></pagination-controls>
            </div>
        </div>
    </div>

</div>

