<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="" >
  <a class="navbar-brand" [routerLink]="['/']" >JMC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="isLogin" >
      <li routerLinkActive="active" >
        <a class="nav-link"  [routerLink]="['/panel-layout']" >Actividad diaria <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/tecnicos']"  >Técnicos</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Por Empleado</a>
          <a class="dropdown-item" href="#">Diario</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Estadístico</a>
        </div>
      </li>
    -->
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="isLogin">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{nombre_usuario}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button class="link dropdown-item"  [routerLink]="['/perfil']" >Cuenta</button>
                <div class="dropdown-divider"></div>
                <button class="link dropdown-item" (click)="CerrarSesion()" >Cerrar Sesión</button>
              </div>
            </li>
      </ul>


    </form>
  </div>
</nav>
