<div class="row float-right">
  <button class="btn btn-danger btn-xs">Distribuir Rutas</button>
</div>
<div class="table-responsive" style="font-size: 11px;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>N9CONO</th>
            <th>N9COCU</th>
            <th>N9COSE</th>
            <th>N9CORU</th>
            <th>N9MECO</th>
            <th>N9LECO</th>
            <th>N9COD</th>
            <th>N9NOMB</th>
            <th>N9REFE</th>
            <th>CUSECU</th>
            <th>CUCOON</th>
            <th>REFERENCIA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenes | async">
            <td>{{orden.id_act}}</td>
            <td>{{orden.n9cono}}</td>
            <td>{{orden.n9cocu}}</td>
            <td>{{orden.n9cose}}</td>
            <td>{{orden.n9coru}}</td>
            <td>{{orden.n9meco}}</td>
            <td>{{orden.n9leco}}</td>
            <td>{{orden.n9cod}}</td>
            <td>{{orden.n9nomb}}</td>
            <td>{{orden.n9refe}}</td>
            <td>{{orden.cusecu}}</td>
            <td>{{orden.cucoon}}</td>
            <td>{{orden.referencia}}</td>
          </tr>
        </tbody>
      </table>
</div>
